.wrangler/
.mf/
node_modules/
dist/
build/
.vite/
.vitest/
worker-configuration.d.ts
.env
.env.*
!.env.example
!.env.*.example
.idea/
.vscode/
.identifier
*.swp
.DS_Store
npm-debug.log*
pnpm-debug.log*